<!DOCTYPE HTML>

<html lang="en">
    <head>
        <title>pocketLibrary.io</title>
        <meta name="viewport"content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <!-- Title -->
        <form action="/" method="GET">
            <button type="submit" class= "overrideButton ">
                <h1 class="text centered near">pocketLibrary.io</h1>
            </button>
        </form>
        {% block body %}{% endblock %}
    </body>
</html>
